<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Example</title>
</head>
<body>
    <a href="https://watch.vcdn.in/telecineaction/index.m3u8" target="_blank">
        <video controls width="600">
            <source src="https://watch.vcdn.in/telecineaction/index.m3u8" type="video/mp4">
            <!-- Adicione outros sources para diferentes formatos de vídeo aqui, se necessário -->
            Your browser does not support the video tag.
        </video>
    </a>
</body>
</html>
