<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canal de TV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</head>
<body>
    <div class="container">
        <h1>Selecione um Canal</h1>
        <div id="channels">
            {% for id, url in channels.items() %}
                <button class="channel-btn" onclick="playChannel('{{ id }}')">Canal {{ id }}</button>
            {% endfor %}
        </div>
        <div id="video-container" style="display: none;">
            <video id="video-player" width="600" controls></video>
        </div>
        <div id="timer">
            Tempo de exibição: <span id="time">0</span> segundos
        </div>
    </div>
    <script>
        function playChannel(channel_id) {
            fetch('/play', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'channel_id': channel_id
                })
            }).then(response => response.json())
            .then(data => {
                if (data.success) {
                    var videoContainer = document.getElementById('video-container');
                    var videoPlayer = document.getElementById('video-player');
                    if (Hls.isSupported()) {
                        var hls = new Hls();
                        hls.loadSource(data.url);
                        hls.attachMedia(videoPlayer);
                        hls.on(Hls.Events.MANIFEST_PARSED, function() {
                            videoPlayer.play();
                        });
                    } else if (videoPlayer.canPlayType('application/vnd.apple.mpegurl')) {
                        videoPlayer.src = data.url;
                        videoPlayer.addEventListener('loadedmetadata', function() {
                            videoPlayer.play();
                        });
                    }
                    videoContainer.style.display = 'block';
                } else {
                    console.log('Falha ao iniciar o canal');
                }
            });
        }

        function updateTime() {
            fetch('/time')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('time').textContent = data.time.toFixed(2);
                });
        }

        setInterval(updateTime, 5000);
    </script>
</body>
</html>
