body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;

}
header{
    width: 100%;
    position: absolute;
    color: aliceblue;
}
header ul{
    display: inline-flex;
    border-color: rgba(0, 0, 0, 0.658);
    border-bottom: 1px;
    list-style: none;
    width: 90%;
    justify-content: space-evenly;
    flex-direction: row;
}
#container{
    height: 100vh;
    background-image: url("img/e0bde3e1273bde1141988d2f2f2daeee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#container .filme{
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgb(0, 0, 0), transparent),
    linear-gradient(45deg, rgb(0, 0, 0), transparent);
}
#container .filme .assistir{
    margin-top: 95%;
    border-style: none;
    border-radius: 10px;
    margin-left: 20%;
    height: 30px;
    width: 80px;
    background-color: rgba(5, 47, 161, 0.788);
}
#container .filme .saber-mais{
    border-style: none;
    border-radius: 10px;
    margin-left: 15px;
    height: 30px;
    width: 80px;
    background-color: rgba(161, 5, 5, 0.788);
}
/*///////////////////////////////seção scrool //////////////////////*/ 
#container .scrool{
    height: 200px;
    width: 150px;
    border-radius: 15px;
    margin-top: 23%;
    margin-left: 5%;
    background-color: rgba(47, 79, 79, 0.74);
}
